<h1>Editing Restaurant</h1>

<div class="row">
  <div class="col-sm-6">

    <%= render 'form', restaurant: @restaurant %>

    <%= link_to 'Show', @restaurant %> |
    <%= link_to 'Back', restaurants_path %>
  </div>
</div>
